html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a:hover {
  cursor: pointer;
}
body {
  font-family: 'Roboto', Arial, Geneva, sans-serif;
  margin: 0px;
  padding: 0px;
}
